<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Widget List</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/styles.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid row">

        <div class="navbar-text pull-left">
          <a href="../page/page-list.html" class="cl-text-black cl-icon-padding">
              <span class="glyphicon glyphicon-chevron-left">
              </span>
          </a>
        </div>
        <div class="navbar-text pull-right">
          <a href="widget-chooser.html" class="cl-icon-padding cl-text-black">
              <span class="glyphicon glyphicon-plus">
              </span>
          </a>
        </div>
        <a class="navbar-brand cl-text-white cl-text-bold" href="#">
          Widgets
        </a>
      </div>
    </nav>

    <div class="container cl-container-padding">
      <div>
        <div class="pull-right">
          <a href="#" class="pull-right">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </a>
          <a href="widget-heading.html">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </div>
        <h1>How To Make A Croquembouche (Cream Puff Tower)?</h1>
      </div>

      <div>
        <div class="pull-right">
          <a href="#" class="pull-right">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </a>
          <a href="widget-heading.html">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </div>
        <h3>The name of this classic French dessert means "crunch in the mouth";
          Make the caramel and assemble the dessert as close to serving time as possible.</h3>
      </div>

      <div>
        <div>
          <a href="#" class="pull-right">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </a>
          <a href="widget-image.html" class="pull-right">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
          <img class="img-responsive img-rounded cl-widget-images"
               src="//food.fnr.sndimg.com/content/dam/images/food/fullset/2009/11/4/2/FNM_120109-Sugar-Fix-006_s4x3.jpg.rend.hgtvcom.616.462.suffix/1382539033745.jpeg"
               alt="Croquembouche">
        </div>
      </div>
      <div>
        <div class="pull-right">
          <a href="#" class="pull-right">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </a>
          <a href="#">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </div>
        <p>Croquembouche is a classic French dessert once used as a wedding cake.</p>
      </div>

      <div>
        <div class="pull-right">
          <a href="#" class="pull-right">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </a>
          <a href="widget-heading.html">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </div>
        <h3>The Youtube Video from Tasty 101</h3>
      </div>

      <div>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/d5nCbSNS9mA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          <a href="#" class="pull-right">
            <span class="glyphicon glyphicon-menu-hamburger" style="background-color: white"></span>
          </a>
          <a href="widget-youtube.html" class="pull-right">
            <span class="glyphicon glyphicon-cog" style="background-color: white"></span>
          </a>
        </div>
      </div>

      <div>
        <div class="pull-right">
          <a href="#" class="pull-right">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </a>
          <a href="#">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </div>
        <p>TASTY 101  S1 • E14</p>
      </div>

    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container-fluid row">
        <div class="pull-right navbar-text">

          <a href="../user/profile.html" class="cl-icon-padding">
            <span class="glyphicon glyphicon-user"></span>
          </a>

        </div>
      </div>
    </nav>

  </body>
</html>
