# dependencies
/node_modules

# build
/dist

# compiled outputs
/tmp
/out-tsc

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store


