<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid row">
    <div class="navbar-text pull-left">
      <a routerLink=".." class="cl-text-black cl-icon-padding">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </div>
    <div class="navbar-text pull-right">
      <button (click)="f.ngSubmit.emit()"
              [disabled]="!f.valid"
              routerLink=".."
              class="btn btn-link cl-icon-padding cl-text-black">
        <span class="glyphicon glyphicon-ok"></span>
      </button>
    </div>
    <a class="navbar-brand cl-text-white cl-text-bold" routerLink=".">
      Widgets Edit
    </a>
  </div>
</nav>

<div class="container-fluid">
  <form (ngSubmit)="updateWidget()" #f="ngForm">

    <div class="form-group">
      <label for="heading-name">Name</label>
      <input [(ngModel)]="widget.name"
             name="name"
             type="text"
             class="form-control"
             id="heading-name"
             placeholder="name"/>
    </div>

    <div class="form-group">
      <label for="text">Text</label>
      <input type="text"
             name="text"
             class="form-control"
             id="text"
             placeholder="{{widget.text}}"
             ngModel required
             #text="ngModel"/>
    </div>

    <span class="help-block" *ngIf="!text.valid && text.touched">
          Please enter text!
    </span>

    <div class="form-group">
      <label for="heading-size">Size</label>
      <input [(ngModel)]="widget.size"
             name="name"
             type="text"
             class="form-control"
             id="heading-size"
             placeholder="3"/>
    </div>

    <button class="btn btn-danger btn-block"
       (click)="deleteWidget()"
       routerLink="..">Delete</button>

  </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid row">
    <div class="pull-right navbar-text">
      <a routerLink="../../../../../.." class="cl-icon-padding">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </div>
  </div>
</nav>
