<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid row">

    <div class="navbar-text pull-left">
      <a routerLink="/profile/{{userId}}/website/{{webId}}/page/{{pageId}}/widget"
         class="cl-text-black cl-icon-padding">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </div>

    <div class="navbar-text pull-right">
      <button (click)="f.ngSubmit.emit()"
              [disabled]="!f.valid"
              routerLink="/profile/{{userId}}/website/{{webId}}/page/{{pageId}}/widget"
              class="btn btn-link cl-icon-padding cl-text-black">
        <span class="glyphicon glyphicon-ok"></span>
      </button>
    </div>

    <a class="navbar-brand cl-text-white cl-text-bold" routerLink=".">
      Widgets Edit
    </a>

  </div>
</nav>

<div class="container-fluid">
  <form (ngSubmit)="updateYoutube()" #f="ngForm">

    <div class="form-group">
      <label for="youtube-name">Name</label>
      <input [(ngModel)]="widget.name"
             type="text"
             class="form-control"
             id="youtube-name"
             placeholder="Name"
             [ngModelOptions]="{standalone: true}"/>
    </div>

    <div class="form-group">
      <label for="youtube-text">Text</label>
      <input [(ngModel)]="widget.text"
             type="text"
             class="form-control"
             id="youtube-text"
             placeholder="Text"
             [ngModelOptions]="{standalone: true}"/>
    </div>

    <div class="form-group">
      <label for="youtube-URL">URL</label>
      <input type="text"
             name="url"
             class="form-control"
             id="youtube-URL"
             placeholder="{{widget.url}}"
             ngModel required
             #url="ngModel"/>
    </div>

    <span class="help-block" *ngIf="!url.valid && url.touched">
          Please enter URL!
    </span>

    <div class="form-group">
      <label for="youtube-width">Width</label>
      <input [(ngModel)]="widget.width"
             type="text"
             class="form-control"
             id="youtube-width"
             placeholder="100%"
             [ngModelOptions]="{standalone: true}"/>
    </div>

    <button class="btn btn-danger btn-block"
            (click)="deleteYoutube()"
            routerLink="..">Delete</button>
  </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid row">
    <div class="pull-right navbar-text">
      <a routerLink="/profile/{{userId}}" class="cl-icon-padding">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </div>
  </div>
</nav>
