<nav class="navbar navbar-fixed-top cl-blue-navbar">
  <div class="container-fluid row">
    <div class="col-xs-4">

      <p class="navbar-text pull-left">
        <a routerLink=".." class="navbar-link cl-text-white">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </p>

      <a class="cl-text-white navbar-brand cl-text-bold hidden-xs" routerLink="..">
        Websites
      </a>

      <a routerLink="../new"
         class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding hidden-xs">
        <span class="glyphicon glyphicon-plus"></span>
      </a>

    </div>

    <div class="col-xs-8">
      <a class="cl-text-white navbar-brand cl-text-bold" routerLink=".">
        New Websites
      </a>

      <button (click)="f.ngSubmit.emit()"
              [disabled]="!f.valid"
              class="btn btn-link navbar-brand pull-right cl-text-white cl-icon-padding"
              aria-hidden="true">
        <span class="glyphicon glyphicon-ok"></span>
      </button>
    </div>
  </div>
</nav>

<div class="container-fluid">

  <div class="col-xs-4 hidden-xs">
    <ul class="list-group cl-list-group-borderless">
      <li *ngFor="let website of websites" class="list-group-item cl-list-item-borderless">
        <a routerLink="../{{website._id}}"><span class="glyphicon glyphicon-cog pull-right cl-icon-padding"></span></a>
        <a routerLink="../{{website._id}}">{{website.name}}</a>
      </li>
    </ul>
  </div>

  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">

    <form (ngSubmit)="createWebsite()" #f="ngForm">
      <div class="form-group">
        <label for="website-name">Name</label>
        <input type="text"
               class="form-control"
               id="website-name"
               placeholder="Name"
               name="name"
               ngModel required
               #name="ngModel">
      </div>

      <span class="help-block" *ngIf="!name.valid && name.touched">
          Please enter a website name!
      </span>

      <div class="form-group">
        <label for="website-description">Description</label>
        <textarea [(ngModel)]="website.description"
                  id="website-description"
                  class="form-control"
                  rows="5"
                  placeholder="Description"
                  name="description">
        </textarea>
      </div>

    </form>
  </div>

</div>

<nav class="navbar navbar-fixed-bottom cl-blue-navbar">
  <div class="container-fuild">
    <a routerLink="../.." class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
      <span class="glyphicon glyphicon-user"></span>
    </a>
  </div>
</nav>
