<div class="container-fluid">

  <div *ngIf="errorFlag"
       class="alert alert-danger">
    {{errorMsg}}
  </div>

  <h1>Login</h1>

  <form (ngSubmit) = "login()" #f="ngForm">

    <label for="username">Username</label>
    <input   placeholder="username"
             name="username"
             id="username"
             type="text"
             class="form-control"
             ngModel
             required
             #username="ngModel"/>

    <label for="password">Password</label>
    <input   placeholder="password"
             name="password"
             id="password"
             type="password"
             class="form-control"
             ngModel
             required
             #password="ngModel"/>

    <span class="help-block" *ngIf="!username.valid && username.touched">
          Please enter username!
    </span>

    <br/>
    <button class="btn btn-primary btn-block"
            type="submit"
            [disabled]="!f.valid">Login</button>

    <button class="btn btn-success btn-block"
            (click)="register()"
            type="button">Register</button>
  </form>

</div>
